<div>
  <div class="card-header bg-white text-warning">
    <p><%= @store.name %>さんの詳細</p>
    <p>URL：<%= @store.url %></p>
    <p>サービスの種類：<%= @store.kind %></p>
    <p>サービス紹介：<%= @store.profile %></p>
    <% if store_signed_in? && current_store.id == @store.id %>
      <%=link_to "サービス情報編集",edit_store_path(@store.id),class: "btn btn-warning  text-white" %>
      <%=link_to "プラン・クレジット情報作成",card_new_path,class: "btn btn-warning  text-white" %>
    <% end %>
    <h4 class="mt-2">期間限定クーポン一覧</h4>
    <div class="card-group mt-2">
      <% @cupons.each do |cupon| %>
        <%= render partial: 'cupons/cupon', locals: { cupon: cupon } %>
      <% end %>
    </div>
  </div>
  <div class="">
    <% @logs.each do |log|%>
      <%= render partial: 'logs/log', locals: { log: log } %>
    <% end %>
  </div>
    <%= paginate(@logs)%>
</div>