<div>
  <div class="card-header bg-white text-warning">
    <p><%= @user.nickname %>さんの詳細</p>
    <p>紹介文：<%= @user.profile %></p>
    <p>取得ポイント：<%= @user.point %></p>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%=link_to "編集",edit_user_path(@user.id),class: "btn btn-warning  text-white" %>
    <% end %>
  </div>
  <% @logs.each do |log|%>
      <%= render partial: 'logs/log', locals: { log: log } %>
  <% end %>
    <%= paginate(@logs)%>
</div>

