<div>
  <div class="card-header bg-white text-warning">
    <p><%= @user.nickname %>さんの詳細</p>
    <p>紹介文：<%= @user.profile %></p>
    <p>取得ポイント：<%= @user.point %></p>
  </div>
  <% @logs.each do |log|%>
      <%= render partial: 'logs/log', locals: { log: log } %>
  <% end %>
    <%= paginate(@logs)%>
</div>

