
<div>
  <% @logs.each do |log|%>
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">
          <%= log.title %>
        </h5>
        <h6 class="card-title">
          <%= log.user.nickname %>
        </h6>
        <p class="card-text">
          <%= log.good%>
        </p>      
        <p class="card-text">
          <%= log.chance%>
        </p>
          <p class="card-text">
            <%= image_tag log.image.url if log.image?%>
          </p>
        <a href="#" class="btn btn-primary">Button</a>
        <%=link_to "削除",log_path(log.id),method: :delete,class: "btn btn-primary" %>
        <%=link_to "編集",method: :delete,class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <%= paginate(@logs)%>
</div>