
<%= form_for(@log) do |f| %>
<form>
  <div class="form-group ml-3 mr-3 mt-3">
    <label for="exampleFormControlInput1">Title</label>
    <%= f.text_field :title,class:"form-control",id:"exampleFormControlInput1",placeholder:"タイトルを入力してください",size:15%>
  </div>

  <div class="form-group  ml-3 mr-3">
    <label for="exampleFormControlInput1">サービス名</label>
    <%= f.text_field :kind,class:"form-control",id:"exampleFormControlInput1",placeholder:"投稿するサービス名を入力してください "%>
  </div>
  <div class="form-group  ml-3 mr-3">
    <label for="exampleFormControlTextarea1">GoodPoint</label>
    <button type="button" class="btn btn-warning"></button>
    <%= f.text_area :good,class:"form-control form-control-posinega", id:"exampleFormControlTextarea1",rows:"4",placeholder:"ご利用をされたサービスの良かった点を入力してください"%>
  </div>
    
  <div class="form-group  ml-3 mr-3">
    <label for="exampleFormControlTextarea1">ChancePoint</label>
    <button type="button" class="btn btn-warning"></button>
    <%= f.text_area :chance,class:"form-control form-control-posinega", id:"exampleFormControlTextarea2",rows:"4",placeholder:"ご利用をされたサービスをもっと良くするための提案を入力してください" %>
  </div>

  <div class="form-group  ml-3 mr-3">
    <label for="exampleFormControlFile1">Picture</label>
    <%= f.file_field :image,class:"form-control-file",id:"exampleFormControlFile1" %>
  </div>

    <button type="submit" class="btn btn-warning text-white ml-3 mr-3">Submit</button>
</form>
<%end%>