<div class= "ml-3">
  <% if @log.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for(@log) do |f| %>
  <form>
    <div class="form-group col-7 mr-3 mt-3">
      <label for="exampleFormControlInput1">Title</label>
      <%= f.text_field :title,class:"form-control",id:"exampleFormControlInput1",placeholder:"タイトルを入力してください",size:15%>
    </div>
    <div class="form-group  col-7 mr-3">
      <label for="exampleFormControlInput1">サービス名</label>
      <input class="form-control" id="exampleFormControlInput2" placeholder="投稿するサービス名を入力してください">
      <ul id = "result">
      </ul>
    </div>

    <div class="hidden_store">
      <%= f.hidden_field :store_id,id:"exampleFormControlInput4"%>
    </div>

    <div class="form-group  col-7 mr-3">
      <label for="exampleFormControlInput1">提案の種類</label>
      <%= f.text_field :kind,class:"form-control",id:"exampleFormControlInput3",placeholder:"投稿する提案の種類を入力してください "%>
    </div>
    <div class="form-group  col-7 mr-3">
      <label for="exampleFormControlTextarea1">GoodPoint</label>
      <button type="button" class="btn btn-warning text-white">positive score:</button>
      <%= f.text_area :good,class:"form-control  form-control-posinega ", id:"exampleFormControlTextarea1",rows:"4",placeholder:"ご利用をされたサービスの良かった点を入力してください"%>
    </div>
      
    <div class="form-group  col-7 mr-3">
      <label for="exampleFormControlTextarea2">ChancePoint</label>
      <button type="button" class="btn btn-warning text-white btn-chance">positive score:</button>
      <%= f.text_area :chance,class:"form-control  form-control-posinega", id:"exampleFormControlTextarea2",rows:"4",placeholder:"ご利用をされたサービスをもっと良くするための提案を入力してください" %>
    </div>

    <div class="form-group  col-7 mr-3">
      <label for="exampleFormControlFile1">Picture</label>
      <%= f.fields_for :log_images do |i| %>
        <%= i.file_field :image,class:"form-control-file",id:"exampleFormControlFile1" %>
      <% end %>
    </div>

    <div class="hidden_good_score">
      <%= f.hidden_field :good_score,id:"exampleFormControlInput_good"%>
    </div>

    <div class="hidden_chance_score">
      <%= f.hidden_field :chance_score,id:"exampleFormControlInput_chance"%>
    </div>

      <button type="submit" class="btn btn-warning text-white ml-3 mr-3">Submit</button>
  </form>
  <%end%>
</div>