<div>
    <div class="card">
      <div class="card-body">
      <div class="card-body">
        <div class="card-header bg-warning">
          <%= @log.title %>
        </div>
        <div class="card-header mb-3 text-warning">

          <%= @log.user.nickname %>さんの投稿です。
        </div>  
        <h4 class="card-title">
          <span data-toggle="tooltip" title="ご利用をされたサービスの良かった点です。">
            GoodPoint
          </span>
        </h4>
        <p class="card-text">
          <%= @log.good%>
        </p>      
        <h4 class="card-title">
          <span data-toggle="tooltip" title="ご利用をされたサービスをもっと良くするための提案です。">
            ChancePoint
          </span>
        </h4>
        <p class="card-text">
          <%= @log.chance%>
        </p>
          <p class="card-text">
            <%= image_tag @log.image.url if @log.image?%>
          </p>
        <% if user_signed_in? && current_user.id == @log.user_id %>
          <%=link_to "削除",log_path(@log.id),method: :delete,class: "btn btn-warning mb-3" %>
          <%=link_to "編集",edit_log_path(@log.id),class: "btn btn-warning mb-3" %>
        <% end %>

        <%= form_for [@log, @ucomment] do |f| %>
          <%= f.text_area :text,rows:"4",class:"mb-3"%>
          <br>
          <%= f.submit 'コメント',class: "btn btn-warning mb-3" %>
        <% end %>

        <% @ucomments.each do |c| %>
          <div>
            <%= c.text %>
            <hr>
          </div>
        <% end %>

    </div> 
</div>