<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <%= link_to "PosiLog",root_path,class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規投稿",new_log_path,class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ",user_path(current_user),class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "サービス一覧",stores_path,class:"nav-link"%>
        </li>

    <% elsif store_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "ログアウト", destroy_store_session_path,method: :delete,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイストア",store_path(current_store),class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "クーポン発行",new_store_cupon_path(current_store),class:"nav-link"%>
        </li>

    <% else %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "ユーザーログイン",new_user_session_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー新規登録",new_user_registration_path,class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "ストアログイン",new_store_session_path,class:"nav-link"%>
        </li>        
        <li class="nav-item">
          <%= link_to "ストア新規登録",new_store_registration_path,class:"nav-link"%>
        </li>        
    </div>
    <% end %>
    <dl class="form-inline my-2 my-lg-0">
      <%= search_form_for @search, url: stores_path do |f| %>
        <%= f.text_field :name_cont ,placeholder: "Search",class:"form-control mr-sm-2" %>
        <%= f.submit ("検索") , class: 'btn btn-outline-secondary my-2 my-sm-0'%>
      <% end %>
    </dl>
    </div>
  </nav>
</header>