<!DOCTYPE html>
<html>
  <head>
    <title>Posilog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application' %>

  </head>

  <%= render partial: 'layouts/header' %>

  <body>
    <%= yield %>
  </body>
</html>
