<!DOCTYPE html>
<html>
  <head>
    <title>Posilog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <script type="text/javascript">Payjp.setPublicKey('pk_test_f735622d6af4ea2bb5205c4e');</script>

  </head>

  <%= render partial: 'layouts/header' %>
  <%= render partial: 'layouts/breadcrumbs'

  <body>
    <%= yield %>
  </body>
</html>
